---
import seasonalGalettesImage from '../assets/seasonal-galettes.jpeg'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import Button from '../components/ui/Button.astro'
import Layout from '../layouts/Layout.astro'

// Can these be imported from Square?
const menuItems = {
  bread: [
    {
      name: 'Spelt Country Batard',
      price: '$9',
    },
    {
      name: 'Anadama Batard',
      price: '$9',
    },
    {
      name: 'Cheddar Boule',
      price: '$10',
    },
    {
      name: 'Whole Wheat Sandwich Pullman',
      price: '$8.50',
    },
    {
      name: 'Honey Multigrain Pullman',
      price: '$11',
    },
    {
      name: 'Sprouted Rye Pullman',
      price: '$11',
    },
    {
      name: 'Milk Pullman',
      price: '$10',
    },
    {
      name: 'Marble Rye Pullman',
      price: '$9.50',
    },
    {
      name: 'Tavola',
      price: '$9',
    },
    {
      name: 'Milk Buns 6pk',
      price: '$6.50',
    },
    {
      name: 'Demi-Baguette or Epi',
      price: '$4 - $4.50',
    },
    {
      name: 'Seasonal Veg Focaccia',
      price: '4x4" slice $6 / Full 9x12" $24',
    },
    {
      name: 'Sourdough Frozen Pizza Dough',
      price: '$4.50',
    },
  ],
  pastries: [
    {
      name: 'Sourdough Chocolate Chip Cookie',
      price: '$3',
    },
    {
      name: 'Ginger Molasses Cookie',
      price: '$3',
    },
    {
      name: 'Rotating Galette',
      price: '$6',
    },
    {
      name: 'Cinnamon Raisin Loaf',
      price: '$12',
    },
    {
      name: 'Morning Bun',
      price: '$5',
    },
  ],
  csa: [
    {
      name: 'Small Share',
      price: '$120',
    },
    {
      name: 'Medium Share',
      price: '$240',
    },
  ],
  subscription: [
    {
      name: 'Small Share',
      price: '3 months $120 + shipping / 6 months $240 + shipping',
    },
    {
      name: 'Medium Share',
      price: '3 months $240 + shipping / 6 months $480 + shipping',
    },
  ],
}
---

<Layout
  title="Born Yesterday Bakery | Menu"
  description="Our menu varies frequently. Check back often to see what we're baking!"
>
  <HeroBanner
    title="Rotating Menu"
    image={seasonalGalettesImage}
    description="Our menu varies frequently. Check back often to see what we're baking!"
  />
  <main>
    <section id="menu" class="menu">
      <div class="menu-category lsa no-repeat">
        <SectionHeader title="Bread" class="section-header" />
        <ul>
          {
            menuItems.bread.map((item) => (
              <li>
                {item.name}
                <span>{item.price}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="menu-category lsa no-repeat">
        <SectionHeader title="Pastries" class="section-header" />
        <ul>
          {
            menuItems.pastries.map((item) => (
              <li>
                {item.name}
                <span>{item.price}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="menu-category lsa no-repeat">
        <SectionHeader title="CSA (Morning Glory Farm + New Spoke Farm)" class="section-header" />
        <ul>
          {
            menuItems.csa.map((item) => (
              <li>
                {item.name}
                <span>{item.price}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="menu-category lsa no-repeat">
        <SectionHeader title="Weekly Subscription" class="section-header" />
        <ul>
          {
            menuItems.subscription.map((item) => (
              <li>
                {item.name}
                <span>{item.price}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <Button text="Order Now" isLink={true} href="https://bornyesterdaybakery.square.site/" />
    </section>
  </main>
</Layout>

<style>
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--color-secondary);
    box-shadow: 1rem 1rem 4rem var(--color-grey-shadow);
  }

  @media (min-width: 768px) {
    .menu {
      padding: 4rem 2rem;
    }
  }

  .menu-category {
    width: 100%;
    max-width: 600px;
  }

  .menu-category .section-header {
    margin-bottom: 2.5rem;
  }

  @media (min-width: 768px) {
    .menu-category .section-header {
      margin-bottom: 3.25rem;
    }
  }

  .menu-category li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1;
  }

  @media (min-width: 768px) {
    .menu-category li {
      margin-bottom: 2rem;
      font-size: var(--size-base);
    }
  }

  .menu-category li span {
    font-size: var(--size-xs);
    text-align: right;
  }

  @media (min-width: 768px) {
    .menu-category li span {
      font-size: var(--size-sm);
    }
  }
</style>
