---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import anadamaTwoImage from '../assets/anadama-2.jpg'
import farmImageOne from '../assets/sourcing_rusted-rooster.jpg'
import farmImageTwo from '../assets/sourcing_nitty-gritty.jpg'
import farmImageThree from '../assets/sourcing_morning-glory.jpg'
import farmImageFour from '../assets/sourcing_fossil-flower-farm.jpg'
import farmImageFive from '../assets/sourcing_new-spoke-farm.jpg'
import farmImageSix from '../assets/sourcing_food-for-friends-farm.jpg'
import farmImageSeven from '../assets/sourcing_overland-honey.png'
import focacciaImage from '../assets/focaccia.jpg'
import millOneImage from '../assets/mill-1.jpg'
import millTwoImage from '../assets/mill-2.jpg'
import alientGif from '../assets/alien.gif'
import trumanShowGif from '../assets/truman-show.gif'
import HeroBanner from '../components/ui/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import Layout from '../layouts/Layout.astro'
import ThemedContainer from '../components/ui/ThemedContainer.astro'
---

<Layout
  title="Born Yesterday Bakery | Sourcing"
  description="We source organic and local ingredients to make our sourdough bread. Learn more about our commitment to quality and sustainability."
  socialImage="/images/focaccia.jpg"
>
  <HeroBanner
    title="Sourcing"
    image={focacciaImage}
    description="Our Commitment to Organic and Local Sourcing"
  />
  <!-- Vertical Divider -->
  <div class="background-mask">
    <div class="guides-background">
      <div class="guides">
        <div class="guides-container">
          <div class="guide"></div>
          <div class="guide"></div>
        </div>
      </div>
    </div>
  </div>

  <main>
    <!-- Introduction -->
    <section id="introduction" class="introduction">
      <div class="column">
        <SectionHeader
          title="Why We Prioritize Organic and Local Ingredients"
          description="We believe that by investing in our community and supporting sustainable practices, we can create the best bread while contributing to a healthier environment and economy."
          class="section-header-custom lsa no-repeat"
        />
        <div class="image-container lsa no-repeat">
          <Picture src={anadamaTwoImage} alt="Anadama bread" loading="eager" />
        </div>
      </div>

      <div class="column lsa no-repeat">
        <div id="organic-practices">
          <h3>Organic Practices</h3>
          <ul>
            <li>
              <Icon name="check" />Maintaining and improving soil fertility, structure, and
              biodiversity.
            </li>
            <li>
              <Icon name="check" />Reducing erosion and minimizing human, animal, and environmental
              exposure to toxic materials.
            </li>
            <li>
              <Icon name="check" />Investing in organic growers to ensure a sustainable future.
            </li>
          </ul>
        </div>

        <div id="local-support">
          <h3>Local Support</h3>
          <ul>
            <li>
              <Icon name="check" />Buying local food means more money goes directly to those who
              grew it.
            </li>
            <li>
              <Icon name="check" />This strengthens our community's economy instead of enriching
              distant corporations.
            </li>
            <li>
              <Icon name="check" />Using locally-sourced ingredients ensures our products are fresh
              and of the highest quality.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Farms -->
    <ThemedContainer
      color="red"
      isSection={true}
      sectionId="farms"
      class="themed-container-custom lsa no-repeat"
    >
      <div class="container">
        <SectionHeader
          title="Our Trusted Partners"
          description="We are proud to partner with local farms that share our commitment to quality and sustainability."
          class="section-header-custom"
        />
        <div class="column">
          <!-- Swiper -->
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <Picture src={farmImageOne} alt="Rusted Rooster Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageTwo} alt="Nitty Gritty Grain Co., VT" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageThree} alt="Morning Glory Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageFour} alt="Fossil Flower Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageFive} alt="New Spoke Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageSix} alt="Food For Friends Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageSeven} alt="Overland Honey, ME" />
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-captions">
              <p class="active">
                Rusted Rooster (Parkman, ME) MOFGA certified - 90% of our grain comes from Rusted
                Rooster, as well as our Buckwheat!
              </p>
              <p>
                Nitty Gritty Grain Co. (Charlotte, VT) NOFA-VT Certified Organic - we get our soft
                white winter wheat & Wapsie Valley Corn from this farm.
              </p>
              <p>
                Morning Glory (Bethel, ME) Organic - eggs, yogurt & whey (that we strain from the
                yogurt). They also carry our bread alongside their vegetable CSA!
              </p>
              <p>
                Fossil Flower Farm (Stow, ME) MOFGA Certified - eggs, vegetables & edible flowers
              </p>
              <p>
                New Spoke Farm (Oxford County, ME) MOFGA Certified - any & all kinds of vegetables -
                They also carry our bread for their CSA shares!
              </p>
              <p>Food For Friends Farm (Newry, ME) - Organic - any & all vegetables</p>
              <p>Overland Honey (Portland, ME)</p>
            </div>
          </div>

          <div class="farms-info">
            <article>
              <Icon name="baguette" />
              <h3>Quality</h3>
              <p>Our commitment to sourcing only the finest organic ingredients.</p>
            </article>
            <article>
              <Icon name="recycle" />
              <h3>Sustainability</h3>
              <p>Ensuring that our farming partners use environmentally-friendly practices.</p>
            </article>
            <article>
              <Icon name="gps" />
              <h3>Traceability</h3>
              <p>We know exactly where our ingredients come from and how they are produced.</p>
            </article>
          </div>
        </div>
      </div>
    </ThemedContainer>

    <!-- Milling -->
    <section id="milling" class="milling">
      <div class="container">
        <SectionHeader
          title="The Milling Process"
          description="We mill our flour in-house using locally-sourced organic grains."
          class="section-header-custom lsa no-repeat"
        />
        <div class="column lsa no-repeat">
          <article>
            <Icon name="number-1" />
            <h3>Stone Milling</h3>
            <p>
              Our traditional stone mill preserves all parts of the grain, resulting in whole grain
              flour that is rich in nutrients and flavor. This process allows us to provide the
              freshest flour possible, directly from our mill to your table.
            </p>
          </article>
          <Picture src={millOneImage} alt="Stone mill" />
        </div>
      </div>

      <ThemedContainer color="blue" class="themed-container-custom lsa no-repeat">
        <div class="container">
          <div class="column">
            <article>
              <Icon name="number-2" />
              <h3>whole grain Flour</h3>
              <p>
                Whole grain flour includes the bran and germ, which are often removed in commercial
                flours. This means our flour retains all the nutritious and tasty parts of the
                grain, making our baked goods totally awesome and delicious.
              </p>
            </article>
            <Picture src={millTwoImage} alt="Stone mill" />
          </div>
        </div>
      </ThemedContainer>
    </section>

    <!-- Process -->
    <section id="process" class="process">
      <SectionHeader
        title="Our Sourdough Process"
        description="Everything we make is created with a sourdough starter."
        class="section-header-custom lsa no-repeat"
      />
      <div class="process-content">
        <Icon name="curved-arrow" />
        <div class="process-row">
          <div class="fermentation lsa no-repeat">
            <h3>Natural Fermentation</h3>
            <p>Our slower fermentation is the secret sauce behind the bread's unique juicy tang.</p>
          </div>
          <figure class="alien lsa no-repeat">
            <Picture
              src={alientGif}
              alt="Alien coming out of a guy's stomach from the movie, 'Alien'"
            />
            <figcaption>
              <p>Naturally fermented, happy gut!</p>
            </figcaption>
          </figure>
        </div>

        <div class="process-row">
          <div class="results lsa no-repeat">
            <h3>The Results?</h3>
          </div>
          <div>
            <div class="pill-container lsa no-repeat">
              <div class="pill">
                <span>OUT-OF-BODY EXPERIENCE</span>
              </div>
              <div class="pill">
                <span>MOUTH-WATERING BLISS</span>
              </div>
              <div class="pill">
                <span>SPIRITUAL GROWTH</span>
              </div>
            </div>
            <figure class="truman-show lsa no-repeat">
              <Picture src={trumanShowGif} alt="Jim Carrey in The Truman Show" />
              <figcaption>
                <p>Finding True Happiness</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to action -->
    <ThemedContainer color="blue" isSection={true} sectionId="call-to-action" class="lsa no-repeat">
      <SectionHeader
        title="Supporting a B-read-er Future"
        description="Your support allows us to open doors behind us and pay it forward to the communities we care about."
      />
      <div class="call-to-action-info">
        <p>Join us in creating a better future, one loaf at a time.</p>
        <div class="ctas">
          <a href="/contact" class="site-cta" aria-label="Reach Out">Reach Out</a>
          <a href="https://bornyesterdaybakery.square.site/" class="site-cta" aria-label="Order Now"
            >Order Now</a
          >
        </div>
      </div>
    </ThemedContainer>
  </main>
</Layout>

<style>
  /* General */

  body {
    position: relative;
    overflow-y: hidden;
  }

  .background-mask {
    display: none;
  }

  @media (min-width: 768px) {
    .background-mask {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
    }

    .guides-background {
      position: relative;
      height: 100%;
      max-height: none;
      width: 100%;
      top: 0;
      left: 0;
    }

    .guides {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    .guides-container {
      display: grid;
      grid: 1fr / repeat(2, 1fr);
      position: relative;
      max-width: var(--max-width-large);
      height: 100%;
      margin: 0 auto;
    }

    .guide:nth-last-of-type(1) {
      width: 1px;
      background: linear-gradient(
        180deg,
        var(--color-grey-dash),
        var(--color-grey-dash) 50%,
        transparent 0,
        transparent
      );
      background-size: 1px 8px;
    }
  }

  [data-icon] {
    flex-shrink: 0;
  }

  .section-header-custom:not(.introduction .section-header-custom) {
    margin-bottom: 4rem;
  }

  .column {
    margin-bottom: 6rem;
    display: grid;
    gap: clamp(4rem, 5vw, 6rem);
  }

  @media (min-width: 768px) {
    .column {
      margin-bottom: 8rem;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }

  .column article {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .column h3,
  .column p {
    grid-column-start: 2;
  }

  .column [data-icon] {
    width: clamp(2.5rem, 5vw, 3rem);
    align-self: center;
  }

  .column p {
    align-self: flex-start;
    color: var(--color-grey);
  }

  .column img {
    box-shadow: var(--box-shadow-normal);
  }

  .column li {
    font-size: clamp(var(--size-xs), 5vw, var(--size-sm));
  }

  /* Themed Container Styles */

  .themed-container-custom .column {
    margin-bottom: 0;
    gap: clamp(4rem, 10vw, 8rem);
  }

  /* Introduction */

  @media (min-width: 768px) {
    .introduction .section-header-custom {
      text-align: left;
    }

    .introduction .image-container {
      position: relative;
    }

    .introduction img {
      height: 100%;
      position: absolute;
      object-fit: cover;
      box-shadow: var(--box-shadow-normal);
    }
  }

  .introduction h3 {
    margin-bottom: 1rem;
  }

  .introduction ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--color-grey);

    [data-icon] {
      width: 1.5rem;
    }
  }

  /* Swiper */

  .swiper {
    min-width: 0;
    max-width: 85%;
    align-self: center;

    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-size: 1rem;
    --swiper-pagination-bullet-width: 1rem;
    --swiper-pagination-bullet-height: 1rem;
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-bullet-inactive-opacity: 0.75;
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  }

  @media (min-width: 768px) {
    .swiper {
      max-width: 100%;
    }
  }

  .swiper-slide {
    border-radius: var(--border-radius-image);
  }

  .swiper-captions {
    margin-top: 1rem;
    color: var(--color-grey);
  }

  .swiper-captions p {
    display: none;
    opacity: 0;
    font-size: var(--size-xs);
    text-align: center;
    transition: var(--transition-long);
    transition-property: opacity display transform;

    @starting-style {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper-captions p.active {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
      transform: translateY(0.25rem);
    }
  }

  /* Milling */

  .milling {
    max-width: var(--max-width-large);
  }

  .milling .section-header-custom {
    max-width: 500px;
  }

  /* Process */

  .process .section-header-custom {
    max-width: none;
    align-items: flex-end;
    text-align: right;
  }

  .process-content {
    position: relative;
  }

  .process-content .process-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  @media (min-width: 1024px) {
    .process-content .process-row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .process-content .process-row:first-of-type {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 100%;
  }

  @media (min-width: 1024px) {
    .process-content .process-row:first-of-type {
      top: 0;
    }
  }

  .process-content .fermentation,
  .process-content .alien,
  .process-content .truman-show {
    width: 75%;
  }

  @media (min-width: 768px) {
    .process-content .fermentation,
    .process-content .alien,
    .process-content .truman-show {
      width: 100%;
    }
  }

  .process-content .fermentation {
    max-width: 396px;
    text-align: end;
  }

  @media (min-width: 1024px) {
    .process-content .fermentation {
      rotate: -6deg;
      text-align: center;
    }
  }

  .process-content .fermentation h3 {
    margin-bottom: 1rem;
  }

  .process-content .fermentation p {
    margin: 0 auto;
    font-size: clamp(var(--size-xxs), 2vw, var(--size-sm));
    color: var(--color-grey);
  }

  .process-content h3 {
    font-size: clamp(var(--size-sm), 5vw, var(--size-lg));
  }

  .process-content figure {
    max-width: 300px;
    margin: 0;
  }

  .process-content img {
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-normal);
  }

  .process-content figcaption p {
    font-size: clamp(var(--size-xxs), 2vw, var(--size-xs));
    text-align: center;
    color: var(--color-grey);
  }

  .process-content .process-row:last-of-type {
    position: absolute;
    top: 40rem;
    align-items: flex-start;
  }

  @media (min-width: 1024px) {
    .process-content .process-row:last-of-type {
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }

  @media (min-width: 1280px) {
    .process-content .process-row:last-of-type {
      justify-content: space-between;
    }
  }

  @media (min-width: 1024px) {
    .process-content .results {
      rotate: 6deg;
    }
  }

  .pill-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .pill {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-black);
    border-radius: 30px;
    box-shadow: 0.25rem 0.25rem 0 var(--color-black);
    font-size: clamp(var(--size-xxs), 2vw, var(--size-xs));
    transition: var(--transition-normal);
  }

  .pill:nth-of-type(2) {
    background-color: var(--color-primary-light);
  }

  .pill:nth-of-type(3) {
    background-color: var(--color-yellow-light);
  }

  @media (min-width: 1024px) {
    .pill-container {
      gap: 4rem;
      margin-bottom: 6rem;
    }

    .pill:nth-of-type(1) {
      rotate: 12deg;
      translate: -6rem 0;
    }

    .pill:nth-of-type(2) {
      rotate: -6deg;
      translate: 6rem 0;
      background-color: var(--color-primary-light);
    }

    .pill:nth-of-type(3) {
      rotate: -2deg;
      background-color: var(--color-yellow-light);
    }

    .pill:hover {
      rotate: 0deg;
    }
  }

  .process [data-icon='curved-arrow'] {
    max-width: 400px;
    margin: 0 auto;
  }

  /* Call to action */

  .call-to-action-info p {
    margin-bottom: 2rem;
    text-align: center;
  }

  .ctas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(var(--size-xs), 2vw, var(--size-base));
    margin-bottom: 2rem;
  }

  .ctas .site-cta {
    font-size: clamp(var(--size-xs), 5vw, var(--size-base));
    border: 2px solid var(--color-primary);
  }

  .ctas a.site-cta:hover {
    color: var(--color-primary);
    background-color: transparent;
  }

  .ctas a.site-cta:last-of-type {
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-primary);
  }

  .ctas a.site-cta:last-of-type:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
</style>

<script>
  import Swiper from 'swiper'
  import 'swiper/css/bundle'
  import { EffectCards, Pagination } from 'swiper/modules'

  // init Swiper:
  const swiper = new Swiper('.swiper', {
    effect: 'cards',
    grabCursor: true,
    modules: [EffectCards, Pagination],
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    speed: 500,
  })

  // Update captions on slide change
  swiper.on('slideChange', () => {
    const captions = document.querySelectorAll('.swiper-captions p')
    captions.forEach((caption) => caption.classList.remove('active'))
    captions[swiper.activeIndex].classList.add('active')
  })
</script>
