---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import farmImageOne from '../assets/farm-1.jpg'
import farmImageTwo from '../assets/farm-2.jpg'
import farmImageThree from '../assets/farm-3.jpg'
import anadamaImage from '../assets/focaccia.jpg'
import sourcingAnadama from '../assets/sourcing-anadama.jpg'
import HeroBanner from '../components/layout/HeroBanner.astro'
import SectionHeader from '../components/text/SectionHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Born Yesterday Bakery | Sourcing"
  description="Our commitment to organic, local, and sustainable sourcing."
>
  <HeroBanner
    title="Sourcing"
    image={anadamaImage}
    description="Our Commitment to Organic and Local Sourcing"
  />
  <main>
    <section id="introduction" class="introduction">
      <div class="column">
        <SectionHeader
          title="Why We Prioritize Organic and Local Ingredients"
          description="We believe that by investing in our community and supporting sustainable practices, we can create the best bread while contributing to a healthier environment and economy."
          class="section-header-custom"
        />
        <div class="image-container">
          <Picture src={sourcingAnadama} alt="Anadama bread" class="image" />
        </div>
      </div>

      <div class="column">
        <div id="organic-practices">
          <h3>Organic Practices</h3>
          <ul>
            <li>
              <Icon name="check" />Maintaining and improving soil fertility, structure, and
              biodiversity.
            </li>
            <li>
              <Icon name="check" />Reducing erosion and minimizing human, animal, and environmental
              exposure to toxic materials.
            </li>
            <li>
              <Icon name="check" />Investing in organic growers to ensure a sustainable future.
            </li>
          </ul>
        </div>

        <div id="local-support">
          <h3>Local Support</h3>
          <ul>
            <li>
              <Icon name="check" />Supporting local farmers helps build our community's economy
              instead of enriching distant corporations.
            </li>
            <li>
              <Icon name="check" />Buying local means more of the money spent on food goes directly
              to those who grew it, strengthening our community.
            </li>
            <li>
              <Icon name="check" />Using locally-sourced ingredients ensures our products are fresh
              and of the highest quality.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="farms" class="farms">
      <div class="container">
        <SectionHeader
          title="Our Trusted Partners"
          description="We are proud to partner with local farms that share our commitment to quality and sustainability."
          class="section-header-custom"
        />
        <div class="column">
          <!-- Swiper -->
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <Picture src={farmImageOne} alt="Rusted Rooster Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageTwo} alt="Rusted Rooster Farm, ME" />
              </div>
              <div class="swiper-slide">
                <Picture src={farmImageThree} alt="Rusted Rooster Farm, ME" />
              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-captions">
              <p class="active">
                Rusted Rooster Farm, ME. Currently using their Red Fife, Turkey Red, buckwheat
                flour, and cornmeal.
              </p>
              <p>
                Two Hands Farm, ME. Carries our Spelt country loaf, milk buns, baguettes & sourdough
                chocolate chip cookies.
              </p>
              <p>Morning Glory Farm, ME. CSA farm that carries our breads and pastries.</p>
            </div>
          </div>

          <div class="farms-info">
            <article>
              <Icon name="baguette" />
              <h3>Quality</h3>
              <p>Our commitment to sourcing only the finest organic ingredients.</p>
            </article>
            <article>
              <Icon name="recycle" />
              <h3>Sustainability</h3>
              <p>Ensuring that our farming partners use environmentally-friendly practices.</p>
            </article>
            <article>
              <Icon name="gps" />
              <h3>Traceability</h3>
              <p>We know exactly where our ingredients come from and how they are produced.</p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  /* General */

  [data-icon] {
    flex-shrink: 0;
  }

  .column {
    margin-bottom: 6rem;
    display: grid;
    gap: clamp(4rem, 5vw, 6rem);
  }

  @media (min-width: 768px) {
    .column {
      margin-bottom: 8rem;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
    }
  }

  .column h3 {
    margin-bottom: 1rem;
  }

  .column li {
    font-size: clamp(var(--size-xs), 5vw, var(--size-sm));
  }

  /* Introduction */

  .introduction .section-header-custom {
    text-align: left;
  }

  @media (min-width: 768px) {
    .introduction .image-container {
      position: relative;
    }

    .introduction .image {
      height: 100%;
      position: absolute;
      object-fit: cover;
      box-shadow: var(--box-shadow-normal);
    }
  }

  .introduction ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: var(--color-grey);

    [data-icon] {
      width: 1.5rem;
    }
  }

  /* Farms */

  .farms {
    max-width: var(--max-width-large);
    padding: 2rem 1rem;
    background-color: var(--color-primary-light);
    border-radius: var(--border-radius-image);
    box-shadow: var(--box-shadow-normal);
  }

  @media (min-width: 768px) {
    .farms {
      padding: 4rem 2rem;
    }
  }

  .farms .section-header-custom {
    margin-bottom: 4rem;
  }

  .farms .column {
    gap: clamp(4rem, 10vw, 8rem);
  }

  /* Swiper */

  .swiper {
    min-width: 0;
    max-width: 100%;
    align-self: center;

    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-size: 1rem;
    --swiper-pagination-bullet-width: 1rem;
    --swiper-pagination-bullet-height: 1rem;
    --swiper-pagination-bullet-inactive-color: var(--color-black);
    --swiper-pagination-bullet-inactive-opacity: 0.75;
    --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  }

  .swiper-slide {
    border-radius: var(--border-radius-image);
    box-shadow: var(--box-shadow-normal);
  }

  .swiper-captions {
    margin-top: 1rem;
    color: var(--color-grey);
  }

  .swiper-captions p {
    display: none;
    opacity: 0;
    font-size: var(--size-xs);
    text-align: center;
    transition: var(--transition-long);
    transition-property: opacity display transform;

    @starting-style {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }
  }

  .swiper-captions p.active {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
      transform: translateY(0.25rem);
    }
  }

  .farms-info article {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .farms-info h3,
  .farms-info p {
    grid-column-start: 2;
  }

  .farms-info h3 {
    margin-bottom: 0;
  }

  .farms-info [data-icon] {
    width: clamp(2.5rem, 5vw, 3rem);
    align-self: center;
  }

  .farms-info p {
    color: var(--color-grey);
  }
</style>

<script>
  import Swiper from 'swiper'
  import 'swiper/css/bundle'
  import { EffectCards, Pagination } from 'swiper/modules'

  // init Swiper:
  const swiper = new Swiper('.swiper', {
    effect: 'cards',
    grabCursor: true,
    modules: [EffectCards, Pagination],
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    speed: 500,
  })

  // Update captions on slide change
  swiper.on('slideChange', () => {
    const captions = document.querySelectorAll('.swiper-captions p')
    captions.forEach((caption) => caption.classList.remove('active'))
    captions[swiper.activeIndex].classList.add('active')
  })
</script>
