---
// TODO: Make this component reusable by passing in the images as props
import { Picture } from 'astro:assets'
import sydMakingDoughOne from '../../assets/syd-making-dough-one.jpg'
import sydMakingDoughTwo from '../../assets/syd-making-dough-two.jpg'
import rawDoughOne from '../../assets/raw-dough-one.jpg'
import rawDoughTwo from '../../assets/raw-dough-two.jpg'
import sydOne from '../../assets/syd-one.jpg'
import sydTwo from '../../assets/syd-two.jpg'
---

<div class="flashing-images lsa no-repeat">
  <div class="image-container">
    <Picture
      class="image-one"
      src={sydMakingDoughOne}
      formats={['avif', 'webp']}
      widths={[250, 500, 750, sydMakingDoughOne.width]}
      sizes={'(min-width: 768px) 100vw, 50vw'}
      alt="Syd making dough"
    />
    <Picture
      class="image-two"
      src={sydMakingDoughTwo}
      formats={['avif', 'webp']}
      widths={[250, 500, 750, sydMakingDoughTwo.width]}
      sizes={'(min-width: 768px) 100vw, 50vw'}
      alt="Syd making dough"
    />
  </div>
  <div class="image-container">
    <Picture
      class="image-one"
      src={sydOne}
      formats={['avif', 'webp']}
      widths={[250, 500, 750, sydOne.width]}
      sizes={'(min-width: 768px) 100vw, 50vw'}
      alt="Syd baking"
    />
    <Picture
      class="image-two"
      src={sydTwo}
      formats={['avif', 'webp']}
      widths={[250, 500, 750, sydTwo.width]}
      sizes={'(min-width: 768px) 100vw, 50vw'}
      alt="Syd baking and smiling"
    />
  </div>
  <div class="image-container">
    <Picture
      class="image-one"
      src={rawDoughOne}
      formats={['avif', 'webp']}
      widths={[250, 500, 750, rawDoughOne.width]}
      sizes={'(min-width: 768px) 100vw, 50vw'}
      alt="Raw dough on a rack"
    />
    <Picture
      class="image-two"
      src={rawDoughTwo}
      formats={['avif', 'webp']}
      widths={[250, 500, 750, rawDoughTwo.width]}
      sizes={'(min-width: 768px) 100vw, 50vw'}
      alt="Raw dough on a rack"
    />
  </div>
</div>

<style>
  .flashing-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-normal);
    border-radius: 0.25rem;
  }

  @media (min-width: 768px) {
    .flashing-images {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .image-container {
    height: clamp(150px, 50vw, 225px);
    position: relative;
    background-color: var(--color-grey-light);
    border-radius: 0.25rem;
  }

  .image-container .image-one,
  .image-container .image-two {
    position: absolute;
    top: 0;
    transition: opacity var(--transition-long);
    box-shadow: var(--box-shadow-normal);
  }

  .image-container .image-two,
  .image-container:hover .image-one,
  .image-container.active .image-one {
    opacity: 0;
  }

  .image-container:hover .image-two,
  .image-container.active .image-two {
    opacity: 1;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
</style>

<script>
  const images = document.querySelectorAll('.image-container')

  function handleActiveImagesOnScroll() {
    if (!window.IntersectionObserver) {
      return console.log('IntersectionObserver not supported')
    }

    const options = {
      root: null,
      rootMargin: '-25%',
      threshold: 0.1,
    }

    const observer = new IntersectionObserver((entries) => {
      if (window.innerWidth < 768) {
        entries.forEach((entry) => {
          const image = entry.target

          if (entry.isIntersecting) {
            image.classList.add('active')
          } else {
            image.classList.remove('active')
          }
        })
      }
    }, options)

    images.forEach((section) => observer.observe(section))
  }

  // Reset active sections on resize
  window.addEventListener('resize', () => {
    images.forEach((image) => image.classList.remove('active'))
  })

  // Set active sections on scroll
  document.addEventListener('scroll', handleActiveImagesOnScroll)
</script>
